PORT=5000
MONGO_URI=mongodb://<db_username>:<db_password>@ac-jtvveox-shard-00-00.ohz6rw2.mongodb.net:27017,ac-jtvveox-shard-00-01.ohz6rw2.mongodb.net:27017,ac-jtvveox-shard-00-02.ohz6rw2.mongodb.net:27017/?ssl=true&replicaSet=atlas-j9x1p1-shard-0&authSource=admin&appName=Health-Connect-Hub
JWT_SECRET=42433737b58bee01c45234c6dd9880c95c239a02f61cc4531de63fb455eb2886f909fe1f3caeeefdaeb5a5d9785841e89676164dfbcd6ac47700a0bbc4f69d63
CLIENT_URL=http://localhost:5174

# Cloudinary Storage Keys (Optional)
CLOUDINARY_CLOUD_NAME=a9l6cmte
CLOUDINARY_API_KEY=154988275883272
CLOUDINARY_API_SECRET=qjc26H2b7drNlAonohgvkhioZgg

# Razorpay Keys (Optional)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
